openapi: 3.2.0

info:
  title: Neuland Backend Core API
  version: 0.0.1

servers:
  - url: https://api.neuland.ing/v0
    description: The backend

security:
  - bearerAuth: [ ]

tags:
  - name: announcements
    description: Everything about announcements

paths:
  /announcements:
    get:
      tags: [ announcements ]
      summary: Get all announcements
      parameters:
        - $ref: '#/components/parameters/IncludeInactiveQueryParam'
      responses:
        '200':
          description: Announcements
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnouncementListResponse'
        default:
          $ref: '#/components/responses/Problem'

    post:
      tags: [ announcements ]
      summary: Create an announcement
      security:
        - bearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnnouncementCreateRequest'
      responses:
        '201':
          description: Announcement created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Announcement'
        '401':
          description: Unauthorized
        default:
          $ref: '#/components/responses/Problem'

  /announcements/{announcementId}:
    parameters:
      - $ref: '#/components/parameters/AnnouncementId'

    get:
      tags: [ announcements ]
      summary: Get an announcement by ID
      responses:
        '200':
          description: Announcement
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Announcement'
        '404':
          description: Announcement not found
        default:
          $ref: '#/components/responses/Problem'

    patch:
      tags: [ announcements ]
      summary: Update an announcement
      security:
        - bearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnnouncementPatchRequest'
      responses:
        '200':
          description: Announcement updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Announcement'
        '401':
          description: Unauthorized
        '404':
          description: Announcement not found
        default:
          $ref: '#/components/responses/Problem'

    delete:
      tags: [ announcements ]
      summary: Delete an announcement
      security:
        - bearerAuth: [ ]
      responses:
        '204':
          description: Announcement deleted
        '401':
          description: Unauthorized
        '404':
          description: Announcement not found
        default:
          $ref: '#/components/responses/Problem'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    AnnouncementId:
      name: announcementId
      in: path
      required: true
      description: Unique identifier of the announcement
      schema:
        type: integer
        format: int64
        minimum: 1
      example: 67

    IncludeInactiveQueryParam:
      name: includeInactive
      in: query
      description: Whether inactive announcements should be included or not
      schema:
        type: boolean


  responses:
    Problem:
      description: An error occurred
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'

  schemas:
    Announcement:
      allOf:
        - $ref: '#/components/schemas/AnnouncementWrite'
        - type: object
          required:
            - id
            - createdAt
            - updatedAt
          properties:
            id:
              type: integer
              format: int64
              minimum: 1
              description: Unique identifier of the announcement
              examples: [ 67 ]

            createdAt:
              type: string
              format: date-time
              description: Date and time when the announcement was created
              examples:
                - '2022-03-06T08:23:45Z'

            updatedAt:
              type: string
              format: date-time
              description: Date and time when the announcement was last updated
              examples:
                - '2022-03-06T08:23:45Z'

    AnnouncementWrite:
      type: object
      required:
        - platforms
        - userKinds
        - contents
        - startDateTime
        - endDateTime
        - priority
      properties:
        platforms:
          type: array
          description: Platforms on which the announcement is displayed
          minItems: 1
          uniqueItems: true
          items:
            $ref: '#/components/schemas/PlatformEnum'
          examples:
            - [ ANDROID, IOS ]

        userKinds:
          type: array
          description: User groups targeted by the announcement
          minItems: 1
          uniqueItems: true
          items:
            $ref: '#/components/schemas/UserKindEnum'
          examples:
            - [ STUDENT, EMPLOYEE ]

        contents:
          type: object
          description: Localized announcement content
          propertyNames:
            $ref: '#/components/schemas/LanguageEnum'
          additionalProperties:
            $ref: '#/components/schemas/AnnouncementContent'

        startDateTime:
          type: string
          format: date-time
          description: Date and time when the announcement starts being displayed
          examples:
            - '2022-03-06T08:23:45Z'

        endDateTime:
          type: string
          format: date-time
          description: Date and time when the announcement stops being displayed
          examples:
            - '2022-03-07T08:23:45Z'

        priority:
          type: integer
          description: Priority of the announcement. Higher values are more important.
          examples: [ 69 ]

        url:
          type: [ string, 'null' ]
          format: uri
          description: Optional URL associated with the announcement
          examples:
            - 'https://website.com'

        imageUrl:
          type: [ string, 'null' ]
          format: uri
          description: Optional image URL for the announcement
          examples:
            - 'https://website.com/image.png'

    AnnouncementCreateRequest:
      allOf:
        - $ref: '#/components/schemas/AnnouncementWrite'

    AnnouncementPatchRequest:
      type: object
      minProperties: 1
      properties:
        platforms:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            $ref: '#/components/schemas/PlatformEnum'

        userKinds:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            $ref: '#/components/schemas/UserKindEnum'

        contents:
          type: object
          description: Localized announcement content
          propertyNames:
            $ref: '#/components/schemas/LanguageEnum'
          additionalProperties:
            $ref: '#/components/schemas/AnnouncementContent'

        startDateTime:
          type: string
          format: date-time

        endDateTime:
          type: string
          format: date-time

        priority:
          type: integer

        url:
          type: [ string, 'null' ]
          format: uri

        imageUrl:
          type: [ string, 'null' ]
          format: uri

    AnnouncementContent:
      type: object
      required:
        - title
        - description
      properties:
        title:
          type: string
          minLength: 1
          description: Localized title
          examples:
            - Important information
        description:
          type: string
          minLength: 1
          description: Localized description
          examples:
            - This is an important information.

    AnnouncementListResponse:
      type: object
      required:
        - announcements
      properties:
        announcements:
          type: array
          description: All currently active announcements
          items:
            $ref: '#/components/schemas/Announcement'

    PlatformEnum:
      type: string
      description: Platform on which the announcement is displayed
      enum:
        - ANDROID
        - IOS
        - WEB
        - WEB_DEV

    UserKindEnum:
      type: string
      description: User group targeted by the announcement
      enum:
        - STUDENT
        - EMPLOYEE
        - GUEST

    LanguageEnum:
      type: string
      description: Supported language
      enum:
        - de
        - en

    Problem:
      type: object
      description: Problem Details response as defined by RFC 9457
      required:
        - title
        - status
      properties:
        type:
          type: string
          format: uri-reference
          default: about:blank
          description: URI reference identifying the problem type

        title:
          type: string
          description: Short, human-readable summary of the problem type

        status:
          type: integer
          format: int32
          minimum: 100
          maximum: 599
          description: HTTP status code generated by the origin server
          examples: [ 503 ]

        detail:
          type: string
          description: Human-readable explanation specific to this occurrence
          examples:
            - Connection to database timed out

        instance:
          type: string
          format: uri-reference
          description: URI reference identifying the specific occurrence of the problem
