openapi: 3.2.0

info:
  title: Neuland Backend Core API
  version: 0.0.1

servers:
  - url: https://api.neuland.ing/v0
    description: The backend

security:
  - bearerAuth: [ ]

tags:
  - name: announcements
    description: Everything about announcements
  - name: roomReports 
    description: Creating, viewing and resolving room reports

paths:
  /announcements:
    get:
      tags: [ announcements ]
      summary: Get all announcements
      parameters:
        - $ref: '#/components/parameters/IncludeInactiveQueryParam'
      responses:
        '200':
          description: Announcements
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnouncementListResponse'
        default:
          $ref: '#/components/responses/Problem'

    post:
      tags: [ announcements ]
      summary: Create an announcement
      security:
        - bearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnnouncementCreateRequest'
      responses:
        '201':
          description: Announcement created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Announcement'
        '401':
          description: Unauthorized
        default:
          $ref: '#/components/responses/Problem'

  /announcements/{announcementId}:
    parameters:
      - $ref: '#/components/parameters/AnnouncementId'

    get:
      tags: [ announcements ]
      summary: Get an announcement by ID
      responses:
        '200':
          description: Announcement
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Announcement'
        '404':
          description: Announcement not found
        default:
          $ref: '#/components/responses/Problem'

    patch:
      tags: [ announcements ]
      summary: Update an announcement
      security:
        - bearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnnouncementPatchRequest'
      responses:
        '200':
          description: Announcement updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Announcement'
        '401':
          description: Unauthorized
        '404':
          description: Announcement not found
        default:
          $ref: '#/components/responses/Problem'

    delete:
      tags: [ announcements ]
      summary: Delete an announcement
      security:
        - bearerAuth: [ ]
      responses:
        '204':
          description: Announcement deleted
        '401':
          description: Unauthorized
        '404':
          description: Announcement not found
        default:
          $ref: '#/components/responses/Problem'
  /room-reports: 
    post:
      tags: [ roomReports ]
      summary: Create a new room report
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRoomReportRequest'

      responses:
        '201':
          description: Room report created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoomReportResponse'
        '401':
          description: Unauthorized # renamed to unauthorized
        default: # default to
          $ref: '#/components/responses/Problem' # problem response (defined in exisiting file)

    get:
      tags: [ roomReports ]
      summary: Get all room reports
      description: Contains user reports of wrong room data. Only available for admin users
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: Room reports retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoomReportListResponse' 
        '401':
          description: Unauthorized
        default:
          $ref: '#/components/responses/Problem'

  /room-reports/{roomReportId}: 
    patch:
      tags: [ roomReports ]
      summary: Resolve a room report
      description: Marks the specified room report as resolved. Only available for admin users
      security:
        - bearerAuth: [ ]
      parameters: 
        - $ref: '#/components/parameters/RoomReportId'
      requestBody:
        required: true
        content: 
          application/json:
            schema:
              $ref: '#/components/schemas/RoomReportPatchRequest'

      responses:
        '200':
          description: Room report resolved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoomReportResponse'
        '401':
          description: Unauthorized
        '404':
          description: Room report not found
        default:
          $ref: '#/components/responses/Problem'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    AnnouncementId:
      name: announcementId
      in: path
      required: true
      description: Unique identifier of the announcement
      schema:
        type: integer
        format: int64
        minimum: 1
      example: 67
    IncludeInactiveQueryParam:
      name: includeInactive
      in: query
      description: Whether inactive announcements should be included or not
      schema:
        type: boolean
    RoomReportId:
      name: roomReportId
      in: path
      required: true
      description: ID of the room report to resolve
      schema:
        type: integer
        format: int64
      example:  77 


  responses:
    Problem:
      description: An error occurred
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'

  schemas:
    Announcement:
      allOf:
        - $ref: '#/components/schemas/AnnouncementWrite'
        - type: object
          required:
            - id
            - createdAt
            - updatedAt
          properties:
            id:
              type: integer
              format: int64
              minimum: 1
              description: Unique identifier of the announcement
              examples: [ 67 ]

            createdAt:
              type: string
              format: date-time
              description: Date and time when the announcement was created
              examples:
                - '2022-03-06T08:23:45Z'

            updatedAt:
              type: string
              format: date-time
              description: Date and time when the announcement was last updated
              examples:
                - '2022-03-06T08:23:45Z'

    AnnouncementWrite:
      type: object
      required:
        - platforms
        - userKinds
        - contents
        - startDateTime
        - endDateTime
        - priority
      properties:
        platforms:
          type: array
          description: Platforms on which the announcement is displayed
          minItems: 1
          uniqueItems: true
          items:
            $ref: '#/components/schemas/PlatformEnum'
          examples:
            - [ ANDROID, IOS ]

        userKinds:
          type: array
          description: User groups targeted by the announcement
          minItems: 1
          uniqueItems: true
          items:
            $ref: '#/components/schemas/UserKindEnum'
          examples:
            - [ STUDENT, EMPLOYEE ]

        contents:
          type: object
          description: Localized announcement content
          propertyNames:
            $ref: '#/components/schemas/LanguageEnum'
          additionalProperties:
            $ref: '#/components/schemas/AnnouncementContent'

        startDateTime:
          type: string
          format: date-time
          description: Date and time when the announcement starts being displayed
          examples:
            - '2022-03-06T08:23:45Z'

        endDateTime:
          type: string
          format: date-time
          description: Date and time when the announcement stops being displayed
          examples:
            - '2022-03-07T08:23:45Z'

        priority:
          type: integer
          description: Priority of the announcement. Higher values are more important.
          examples: [ 69 ]

        url:
          type: [ string, 'null' ]
          format: uri
          description: Optional URL associated with the announcement
          examples:
            - 'https://website.com'

        imageUrl:
          type: [ string, 'null' ]
          format: uri
          description: Optional image URL for the announcement
          examples:
            - 'https://website.com/image.png'

    AnnouncementCreateRequest:
      allOf:
        - $ref: '#/components/schemas/AnnouncementWrite'

    AnnouncementPatchRequest:
      type: object
      minProperties: 1
      properties:
        platforms:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            $ref: '#/components/schemas/PlatformEnum'

        userKinds:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            $ref: '#/components/schemas/UserKindEnum'

        contents:
          type: object
          description: Localized announcement content
          propertyNames:
            $ref: '#/components/schemas/LanguageEnum'
          additionalProperties:
            $ref: '#/components/schemas/AnnouncementContent'

        startDateTime:
          type: string
          format: date-time

        endDateTime:
          type: string
          format: date-time

        priority:
          type: integer

        url:
          type: [ string, 'null' ]
          format: uri

        imageUrl:
          type: [ string, 'null' ]
          format: uri

    AnnouncementContent:
      type: object
      required:
        - title
        - description
      properties:
        title:
          type: string
          minLength: 1
          description: Localized title
          examples:
            - Important information
        description:
          type: string
          minLength: 1
          description: Localized description
          examples:
            - This is an important information.

    AnnouncementListResponse:
      type: object
      required:
        - announcements
      properties:
        announcements:
          type: array
          description: All currently active announcements
          items:
            $ref: '#/components/schemas/Announcement'

    PlatformEnum:
      type: string
      description: Platform on which the announcement is displayed
      enum:
        - ANDROID
        - IOS
        - WEB
        - WEB_DEV

    UserKindEnum:
      type: string
      description: User group targeted by the announcement
      enum:
        - STUDENT
        - EMPLOYEE
        - GUEST

    LanguageEnum:
      type: string
      description: Supported language
      enum:
        - de
        - en

    Problem:
      type: object
      description: Problem Details response as defined by RFC 9457
      required:
        - title
        - status
      properties:
        type:
          type: string
          format: uri-reference
          default: about:blank
          description: URI reference identifying the problem type

        title:
          type: string
          description: Short, human-readable summary of the problem type

        status:
          type: integer
          format: int32
          minimum: 100
          maximum: 599
          description: HTTP status code generated by the origin server
          examples: [ 503 ]

        detail:
          type: string
          description: Human-readable explanation specific to this occurrence
          examples:
            - Connection to database timed out

        instance:
          type: string
          format: uri-reference
          description: URI reference identifying the specific occurrence of the problem
    
    CreateRoomReportRequest: 
      type: object
      description: Input data required to create a new report about incorrect room data
      required: 
        - reason
        - room
      properties:
        reason:
          $ref: '#/components/schemas/RoomReportCategoryEnum'
          description: Reason for the report
          examples:
            - [ WRONG_DESCRIPTION, WRONG_LOCATION ]

        description: 
          type: [ string, 'null' ]
          description: Description of the report
          examples: "This room cannot be found here"  

        room:
          type: string
          description: Room name
          examples: "G201"

    RoomReportResponse:
      type: object
      description: Response returned after creating and resolving a room report
      required:
        - id
      properties:
        id:
          type: integer
          format: int64
          minimum: 1
          description: Unique identifier of the room report
          examples: [ 77 ]

    RoomReport:
      type: object
      description: A user report of wrong room data
      required:
        - id
        - room
        - reason
        - createdAt
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier of the room report
          examples: [ 77 ]

        room:
          type: string
          description: Room name
          examples: "G201"

        reason:
          $ref: '#/components/schemas/RoomReportCategoryEnum'
          description: Reason for the report
          examples:
            - [ WRONG_DESCRIPTION, WRONG_LOCATION ]

        description:
          type: [ string, 'null' ]
          description: Description of the report
          examples: "This room cannot be found here" 

        createdAt:
          type: string
          format: date-time
          description: Creation date (date and time) of the report

        resolvedAt:
          type: [ string, 'null' ]
          format: date-time
          description: Resolved date of the report or null if not resolved

    RoomReportListResponse:
      type: object
      required:
        - roomReports
      properties: 
        roomReports: 
          type: array
          description: All room reports
          items:
            $ref: '#/components/schemas/RoomReport'

    RoomReportPatchRequest:
      type: object
      required: 
        - resolved
      properties:
        resolved: 
          type: boolean

    RoomReportCategoryEnum:
      type: string
      description: Reason for the room report
      enum:
        - WRONG_DESCRIPTION
        - WRONG_LOCATION
        - NOT_EXISTING
        - MISSING
        - OTHER
